Brief Summary:

In this Databricks notebook, I (1) extract data about my fake library, which consists of book, member, loan, and late fee data, from various data sources, including an Azure Database for MySQL Flexible Server instance, a MongoDB Atlas server instance, and the Databricks File System (DBFS). Then, I (2) transform extracted data as necessary, which includes replacing date values with their corresponding date keys (as referenced from my date dimension database table in my Azure Database for MySQL Flexible Server instance). Finally, I (3) load the transformed data into a data structure appropriate for data analysis and visualization.

Step 1: Extract Data:

First, I create variables that I will need to connect to my Azure Database for MySQL Flexible Server instance.

In [0]:
SERVER_NAME = 'jc7rw-mysql.mysql.database.azure.com'
SERVER_PORT = '3306'

Then, I extract my book and date data from my Azure Database for MySQL Flexible Server instance.

In [0]:
%sql
CREATE OR REPLACE TEMPORARY VIEW book_temp_view
USING org.apache.spark.sql.jdbc
OPTIONS (
  url 'jdbc:mysql://jc7rw-mysql.mysql.database.azure.com:3306/my_awesome_library',
  user 'jc7rw',
  password 'MyP4ssword',
  dbtable 'books'
)

In [0]:
%sql
CREATE OR REPLACE TEMPORARY VIEW date_temp_view
USING org.apache.spark.sql.jdbc
OPTIONS (
  url 'jdbc:mysql://jc7rw-mysql.mysql.database.azure.com:3306/northwind_dw2',
  user 'jc7rw',
  password 'MyP4ssword',
  dbtable 'dim_date'
)

Then, I create a database in Databricks to store database tables on books and dates.

In [0]:
%sql
DROP DATABASE IF EXISTS my_awesome_library CASCADE

In [0]:
%sql
CREATE DATABASE IF NOT EXISTS my_awesome_library

In [0]:
%sql
USE DATABASE my_awesome_library;

CREATE OR REPLACE TABLE my_awesome_library.books
AS SELECT * FROM book_temp_view

In [0]:
%sql
DESCRIBE my_awesome_library.books

col_name,data_type,comment
id,int,null
title,string,null
author,string,null
year_published,int,null

In [0]:
%sql
USE DATABASE my_awesome_library;

CREATE OR REPLACE TABLE my_awesome_library.dim_date
AS SELECT * FROM date_temp_view

In [0]:
%sql
DESCRIBE my_awesome_library.dim_date

col_name,data_type,comment
date_key,int,null
full_date,date,null
date_name,string,null
date_name_us,string,null
date_name_eu,string,null
day_of_week,int,null
day_name_of_week,string,null
day_of_month,int,null
day_of_year,int,null
weekday_weekend,string,null
week_of_year,int,null
month_name,string,null
month_of_year,int,null
is_last_day_of_month,string,null
calendar_quarter,int,null
calendar_year,int,null
calendar_year_month,string,null
calendar_year_qtr,string,null
fiscal_month_of_year,int,null
fiscal_quarter,int,null
fiscal_year,int,null
fiscal_year_month,string,null
fiscal_year_qtr,string,null

With my book and date data extracted from my Azure Database for MySQL Flexible Server instance, I will now extract my member and loan data from my MongoDB Atlas server instance.

In [0]:
SERVER_2_NAME = 'cluster0.ftips1o.mongodb.net'

In [0]:
%scala
import com.mongodb.spark._

val df_member = spark.read.format("com.mongodb.spark.sql.DefaultSource")
.option("spark.mongodb.input.uri", "mongodb+srv://m001-student:311X2EjL534m0956@cluster0.ftips1o.mongodb.net/?retryWrites=true&w=majority")
.option("database", "my_awesome_library")
.option("collection", "members").load()

display(df_member)

_id,email_address,id,name,phone_number,physical_address
List(656b9319ccd3ff087e703003),ailey.thicknesse@gmail.com,1,Ailey Thicknesse,(123) 234-9878,Over water and under hill
List(656b9319ccd3ff087e703004),,2,Septima Fairfax,,The Forbidden Forest
List(656b9319ccd3ff087e703005),octo_cat@outlook.com,3,October Lynx,(575) 433-9122,Bridgemar
List(656b9319ccd3ff087e703006),,4,Fen Galeway,(911) 232-7363,Past the ravine and up the mountain
List(656b9319ccd3ff087e703007),robert.john@gmail.com,5,Robert John,(255) 109-1293,"1523 Cherry Lane, Charlottesville, VA 22901"

In [0]:
%scala
val df_loan = spark.read.format("com.mongodb.spark.sql.DefaultSource")
.option("spark.mongodb.input.uri", "mongodb+srv://m001-student:311X2EjL534m0956@cluster0.ftips1o.mongodb.net/?retryWrites=true&w=majority")
.option("database", "my_awesome_library")
.option("collection", "loans").load()

display(df_loan)

_id,book_author,book_id,book_title,loan_exp_date,loan_start_date,loaner_id,loaner_name,return_date
List(656b9333ccd3ff087e703009),Andy Weir,1,The Martian,11/12/2023,10/12/2023,4,Fen Galeway,
List(656b9333ccd3ff087e70300a),Michael Greger,2,How Not to Die,10/20/2023,9/20/2023,4,Fen Galeway,
List(656b9333ccd3ff087e70300b),J.K. Rowling,7,Harry Potter and the Chamber of Secrets,9/07/2023,8/07/2023,1,Ailey Thicknesse,9/01/2023
List(656b9333ccd3ff087e70300c),Ben Straub,9,Pro Git,9/15/2023,8/15/2023,2,Septima Fairfax,10/11/2023
List(656b9333ccd3ff087e70300d),J.K. Rowling,7,Harry Potter and the Chamber of Secrets,11/21/2023,10/21/2023,5,Robert John,

Then, I will create tables for my member and loan data in my 'my_awesome_library' Databricks database.

In [0]:
%scala
df_member.write.format("delta").mode("overwrite").saveAsTable("my_awesome_library.members")

In [0]:
%sql
DESCRIBE my_awesome_library.members

col_name,data_type,comment
_id,struct,null
email_address,string,null
id,int,null
name,string,null
phone_number,string,null
physical_address,string,null

In [0]:
%scala
df_loan.write.format("delta").mode("overwrite").saveAsTable("my_awesome_library.loans")

In [0]:
%sql
DESCRIBE my_awesome_library.loans

col_name,data_type,comment
_id,struct,null
book_author,string,null
book_id,int,null
book_title,string,null
loan_exp_date,string,null
loan_start_date,string,null
loaner_id,int,null
loaner_name,string,null
return_date,string,null

With my member and loan data extracted from my MongoDB Atlas server instance, I will now extract my late fee data from DBFS.

In [0]:
schema = StructType([
    StructField("Book_ID", IntegerType(), True),
    StructField("Book_Title", StringType(), True),
    StructField("Book_Author", StringType(), True),
    StructField("Base_Late_Fee", DecimalType(), True),
    StructField("Additional_Late_Fee_Cumulating_Daily", DecimalType(), True)
])

late_fee_data = 'dbfs:/FileStore/lab_data/Late_Fees.csv' # Uploaded 'Late_Fees.csv' to the DBFS by using the Catalog tab
df_late_fee = spark.read.format('csv').options(header='true').schema(schema).load(late_fee_data)
display(df_late_fee)

Book_ID,Book_Title,Book_Author,Base_Late_Fee,Additional_Late_Fee_Cumulating_Daily
1,The Martian,Andy Weir,5,2
2,How Not to Die,Michael Greger,2,1
3,Book Lovers,Emily Henry,2,2
4,Becoming,Michelle Obama,2,1
5,Cosmos,Carl Sagan,2,1
6,Naked Statistics: Stripping the Dread from the Data,Charles Wheelan,2,1
7,Harry Potter and the Chamber of Secrets,J.K. Rowling,7,3
8,Jane Eyre,Charlotte Bronte,3,2
9,Pro Git,Ben Straub,1,1
10,The Burnout Society,Byung-Chul Han,1,1

In [0]:
df_late_fee.write.format("delta").mode("overwrite").saveAsTable("my_awesome_library.late_fees")

In [0]:
%sql
DESCRIBE my_awesome_library.late_fees

col_name,data_type,comment
Book_ID,int,null
Book_Title,string,null
Book_Author,string,null
Base_Late_Fee,"decimal(10,0)",null
Additional_Late_Fee_Cumulating_Daily,"decimal(10,0)",null

In [0]:
%sql
USE my_awesome_library;

SHOW TABLES

database,tableName,isTemporary
my_awesome_library,books,false
my_awesome_library,dim_date,false
my_awesome_library,late_fees,false
my_awesome_library,loans,false
my_awesome_library,members,false
,book_temp_view,true
,date_temp_view,true

With all of my data extracted, I will now transform them.

Step 2: Transform Data:

This step involves transforming the string values in the date-related columns of my loan data to Date values and replacing those Date values with their corresponding date keys as per the date dimension database table in 'northwind_dw2'.

In [0]:
df_loan_working = spark.sql(f'SELECT * FROM my_awesome_library.loans')

df_loan_working.show()

+--------------------+--------------+-------+--------------------+-------------+---------------+---------+----------------+-----------+
|                 _id|   book_author|book_id|          book_title|loan_exp_date|loan_start_date|loaner_id|     loaner_name|return_date|
+--------------------+--------------+-------+--------------------+-------------+---------------+---------+----------------+-----------+
|{656b9333ccd3ff08...|     Andy Weir|      1|         The Martian|   11/12/2023|     10/12/2023|        4|     Fen Galeway|           |
|{656b9333ccd3ff08...|Michael Greger|      2|      How Not to Die|   10/20/2023|      9/20/2023|        4|     Fen Galeway|           |
|{656b9333ccd3ff08...|  J.K. Rowling|      7|Harry Potter and ...|    9/07/2023|      8/07/2023|        1|Ailey Thicknesse|  9/01/2023|
|{656b9333ccd3ff08...|    Ben Straub|      9|             Pro Git|    9/15/2023|      8/15/2023|        2| Septima Fairfax| 10/11/2023|
|{656b9333ccd3ff08...|  J.K. Rowling|      7|Harry Potter and ...|   11/21/2023|     10/21/2023|        5|     Robert John|           |
+--------------------+--------------+-------+--------------------+-------------+---------------+---------+----------------+-----------+

In [0]:
import pandas as pd

df_loan_working_copy = df_loan_working.toPandas()

df_loan_working_copy['loan_start_date'] = pd.to_datetime(df_loan_working_copy['loan_start_date'], format='%m/%d/%Y')
df_loan_working_copy['loan_exp_date'] = pd.to_datetime(df_loan_working_copy['loan_exp_date'], format='%m/%d/%Y')
df_loan_working_copy['return_date'] = pd.to_datetime(df_loan_working_copy['return_date'], format='%m/%d/%Y', errors='coerce') # 'errors="coerce"' is necessary for handling null values

df_loan_working_copy

,_id,book_author,book_id,book_title,loan_exp_date,loan_start_date,loaner_id,loaner_name,return_date
0,{'oid': '656b9333ccd3ff087e703009'},Andy Weir,1,The Martian,2023-11-12,2023-10-12,4,Fen Galeway,NaT
1,{'oid': '656b9333ccd3ff087e70300a'},Michael Greger,2,How Not to Die,2023-10-20,2023-09-20,4,Fen Galeway,NaT
2,{'oid': '656b9333ccd3ff087e70300b'},J.K. Rowling,7,Harry Potter and the Chamber of Secrets,2023-09-07,2023-08-07,1,Ailey Thicknesse,2023-09-01
3,{'oid': '656b9333ccd3ff087e70300c'},Ben Straub,9,Pro Git,2023-09-15,2023-08-15,2,Septima Fairfax,2023-10-11
4,{'oid': '656b9333ccd3ff087e70300d'},J.K. Rowling,7,Harry Potter and the Chamber of Secrets,2023-11-21,2023-10-21,5,Robert John,NaT

In [0]:
df_loan_working = spark.createDataFrame(df_loan_working_copy)

df_loan_working.createOrReplaceTempView('loan_temp_view')

spark.sql('CREATE OR REPLACE TABLE my_awesome_library.loans AS SELECT * FROM loan_temp_view')

/databricks/spark/python/pyspark/sql/pandas/conversion.py:437: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  A field of type StructType expects a pandas.DataFrame, but got: <class 'pandas.core.series.Series'>
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)
Out[21]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
SELECT * FROM my_awesome_library.loans

_id,book_author,book_id,book_title,loan_exp_date,loan_start_date,loaner_id,loaner_name,return_date
Map(oid -> 656b9333ccd3ff087e70300c),Ben Straub,9,Pro Git,2023-09-15T00:00:00.000+0000,2023-08-15T00:00:00.000+0000,2,Septima Fairfax,2023-10-11T00:00:00.000+0000
Map(oid -> 656b9333ccd3ff087e70300d),J.K. Rowling,7,Harry Potter and the Chamber of Secrets,2023-11-21T00:00:00.000+0000,2023-10-21T00:00:00.000+0000,5,Robert John,null
Map(oid -> 656b9333ccd3ff087e70300b),J.K. Rowling,7,Harry Potter and the Chamber of Secrets,2023-09-07T00:00:00.000+0000,2023-08-07T00:00:00.000+0000,1,Ailey Thicknesse,2023-09-01T00:00:00.000+0000
Map(oid -> 656b9333ccd3ff087e70300a),Michael Greger,2,How Not to Die,2023-10-20T00:00:00.000+0000,2023-09-20T00:00:00.000+0000,4,Fen Galeway,null
Map(oid -> 656b9333ccd3ff087e703009),Andy Weir,1,The Martian,2023-11-12T00:00:00.000+0000,2023-10-12T00:00:00.000+0000,4,Fen Galeway,null

In [0]:
dates_df_raw = spark.sql('SELECT date_key, full_date FROM my_awesome_library.dim_date WHERE calendar_year = 2023')
dates_df_raw

Out[27]: DataFrame[date_key: int, full_date: date]

In [0]:
dates_df = dates_df_raw.toPandas()
dates_df

,date_key,full_date
0,20230101,2023-01-01
1,20230102,2023-01-02
2,20230103,2023-01-03
3,20230104,2023-01-04
4,20230105,2023-01-05
...,...,...
360,20231227,2023-12-27
361,20231228,2023-12-28
362,20231229,2023-12-29
363,20231230,2023-12-30
364,20231231,2023-12-31

In [0]:
for index in range(len(df_loan_working_copy)):
    df_loan_working_copy_row = df_loan_working_copy.iloc[index]
    dates_df_row = dates_df[dates_df['full_date']==df_loan_working_copy_row['loan_start_date'].date()] # For some reason, the pandas Dataframe 'facts_df' date columns are Timestamp objects
    df_loan_working_copy.loc[index, 'loan_start_date'] = dates_df_row['date_key'].values[0]
    dates_df_row = dates_df[dates_df['full_date']==df_loan_working_copy_row['loan_exp_date'].date()]
    df_loan_working_copy.loc[index, 'loan_exp_date'] = dates_df_row['date_key'].values[0]
    dates_df_row = dates_df[dates_df['full_date']==df_loan_working_copy_row['return_date'].date()]
    try:
        df_loan_working_copy.loc[index, 'return_date'] = dates_df_row['date_key'].values[0]
    except IndexError:
        df_loan_working_copy.loc[index, 'return_date'] = None
df_loan_working_copy

,_id,book_author,book_id,book_title,loan_exp_date,loan_start_date,loaner_id,loaner_name,return_date
0,{'oid': '656b9333ccd3ff087e703009'},Andy Weir,1,The Martian,20231112,20231012,4,Fen Galeway,NaT
1,{'oid': '656b9333ccd3ff087e70300a'},Michael Greger,2,How Not to Die,20231020,20230920,4,Fen Galeway,NaT
2,{'oid': '656b9333ccd3ff087e70300b'},J.K. Rowling,7,Harry Potter and the Chamber of Secrets,20230907,20230807,1,Ailey Thicknesse,20230901
3,{'oid': '656b9333ccd3ff087e70300c'},Ben Straub,9,Pro Git,20230915,20230815,2,Septima Fairfax,20231011
4,{'oid': '656b9333ccd3ff087e70300d'},J.K. Rowling,7,Harry Potter and the Chamber of Secrets,20231121,20231021,5,Robert John,None

In [0]:
df_loan_working_copy['loan_exp_date']

Out[40]: 0    20231112
1    20231020
2    20230907
3    20230915
4    20231121
Name: loan_exp_date, dtype: object

In [0]:
df_loan_working_copy['loan_exp_date'] = pd.to_numeric(df_loan_working_copy['loan_exp_date'], errors='coerce').astype('Int64')

df_loan_working_copy['loan_exp_date']

# do the same with 'loan_start_date' and 'return_date' to avoid errors

Out[41]: 0    20231112
1    20231020
2    20230907
3    20230915
4    20231121
Name: loan_exp_date, dtype: Int64

In [0]:
df_loan_working_copy['loan_start_date'] = pd.to_numeric(df_loan_working_copy['loan_start_date'], errors='coerce').astype('Int64')

df_loan_working_copy['return_date'] = pd.to_numeric(df_loan_working_copy['return_date'], errors='coerce').astype('Int64')

df_loan_working_copy['return_date'] = df_loan_working_copy['return_date'].fillna(0) # '<NA>' represents pd.NaT (Pandas Not a Time) or a float (?) type null value; replace with integer type null value to avoid errors (DIDN'T WORK); Temporary workaround: replace with zeros

In [0]:
df_loan_working_copy

,_id,book_author,book_id,book_title,loan_exp_date,loan_start_date,loaner_id,loaner_name,return_date
0,{'oid': '656b9333ccd3ff087e703009'},Andy Weir,1,The Martian,20231112,20231012,4,Fen Galeway,0
1,{'oid': '656b9333ccd3ff087e70300a'},Michael Greger,2,How Not to Die,20231020,20230920,4,Fen Galeway,0
2,{'oid': '656b9333ccd3ff087e70300b'},J.K. Rowling,7,Harry Potter and the Chamber of Secrets,20230907,20230807,1,Ailey Thicknesse,20230901
3,{'oid': '656b9333ccd3ff087e70300c'},Ben Straub,9,Pro Git,20230915,20230815,2,Septima Fairfax,20231011
4,{'oid': '656b9333ccd3ff087e70300d'},J.K. Rowling,7,Harry Potter and the Chamber of Secrets,20231121,20231021,5,Robert John,0

In [0]:
df_loan_working = spark.createDataFrame(df_loan_working_copy)

df_loan_working.createOrReplaceTempView('loan_temp_view_with_date_keys')

spark.sql('CREATE OR REPLACE TABLE my_awesome_library.loans_with_date_keys AS SELECT * FROM loan_temp_view_with_date_keys')

/databricks/spark/python/pyspark/sql/pandas/conversion.py:437: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  A field of type StructType expects a pandas.DataFrame, but got: <class 'pandas.core.series.Series'>
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)
Out[68]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
USE my_awesome_library;

SHOW TABLES

database,tableName,isTemporary
my_awesome_library,books,false
my_awesome_library,dim_date,false
my_awesome_library,late_fees,false
my_awesome_library,loans,false
my_awesome_library,loans_with_date_keys,false
my_awesome_library,members,false
,loan_temp_view,true
,loan_temp_view_with_date_keys,true

Step 3 is to load my transformed data into appropriate database tables, but they are already loaded into my Databricks database, 'my_awesome_library,' as shown above.

Given that, I will now create a data visualization using my Databricks database, 'my_awesome_library.' I will display all library members and the number of books that they have each loaned.

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data_source = 'dbfs:/FileStore/lab_data/loans.json'
source_format = 'json'
checkpoint_directory = 'dbfs:/user/jc7rw@virginia.edu/dbacademy/dewd/my_awesome_library/_checkpoints/'

schema = StructType([
    StructField("book_id", IntegerType(), True),
    StructField("book_title", StringType(), True),
    StructField("book_author", StringType(), True),
    StructField("loaner_id", IntegerType(), True),
    StructField("loaner_name", StringType(), True),
    StructField("loan_start_date", StringType(), True),
    StructField("loan_exp_date", StringType(), True),
    StructField("return_date", StringType(), True),
])

query = (spark.readStream
         .format('cloudFiles')
         .option('cloudFiles.format', source_format)
         # .option('cloudFiles.schemaLocation', checkpoint_directory)
         .schema(schema)
         .load(data_source)
         .writeStream
         .format('delta')
         .option('checkpointLocation', checkpoint_directory)
         .outputMode('append')
         .table('bronze')
        )

In [0]:
%sql
DESC bronze

col_name,data_type,comment
fields,string,null
type,string,null
_rescued_data,string,null

As you can see, my 'bronze' table does not display the expected columns (which I have identified via my 'schema' variable in a previous cell). I am not sure as to why the above columns and not the specified columns are shown, and I have struggled to find an answer. As you will see, this affects the data streaming processes below, so for the sake of data visualization, I have used the temporary workaround of pulling from static data as opposed to streaming data. A screenshot of my bar graph should be provided.

In [0]:
query = (spark
         .readStream
         .table("bronze")
         .createOrReplaceTempView("bronze_temp_view")
        )

In [0]:
%sql
DESC bronze_temp_view

col_name,data_type,comment
fields,string,null
type,string,null
_rescued_data,string,null

In [0]:
checkpoint_directory_silver = checkpoint_directory + 'silver/'
query = (spark.table('bronze_temp_view')
         .writeStream.format('delta')
         .option('checkpointLocation', checkpoint_directory_silver)
         .outputMode('append')
         .table('silver')
        )

In [0]:
query = (spark
         .readStream
         .table("silver")
         .createOrReplaceTempView("silver_temp_view")
        )

In [0]:
%sql
CREATE OR REPLACE TEMP VIEW loans_per_member_temp_view AS (
  SELECT loaner_name, COUNT(*) as loans
  FROM silver_temp_view
  GROUP BY loaner_name
)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-3734199478696432> in <cell line: 1>()
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

<command-3734199478696432> in ____databricks_percent_sql()
      2   def ____databricks_percent_sql():
      3     import base64
----> 4     df = spark.sql(base64.standard_b64decode("Q1JFQVRFIE9SIFJFUExBQ0UgVEVNUCBWSUVXIGxvYW5zX3Blcl9tZW1iZXJfdGVtcF92aWV3IEFTICgKICBTRUxFQ1QgbG9hbmVyX25hbWUsIENPVU5UKCopIGFzIGxvYW5zCiAgRlJPTSBzaWx2ZXJfdGVtcF92aWV3CiAgR1JPVVAgQlkgbG9hbmVyX25hbWUKKQ==").decode())
      5     display(df)
      6     return df

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(*args, **kwargs)
     46             start = time.perf_counter()
     47             try:
---> 48                 res = func(*args, **kwargs)
     49                 logger.log_success(
     50                     module_name, class_name, function_name, time.perf_counter() - start, signature

/databricks/spark/python/pyspark/sql/session.py in sql(self, sqlQuery, **kwargs)
   1117             sqlQuery = formatter.format(sqlQuery, **kwargs)
   1118         try:
-> 1119             return DataFrame(self._jsparkSession.sql(sqlQuery), self)
   1120         finally:
   1121             if len(kwargs) > 0:

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `loaner_name` cannot be resolved. Did you mean one of the following? [`silver_temp_view`.`type`, `silver_temp_view`.`fields`, `silver_temp_view`.`_rescued_data`]; line 2 pos 9;
'CreateViewCommand `loans_per_member_temp_view`, (
  SELECT loaner_name, COUNT(*) as loans
  FROM silver_temp_view
  GROUP BY loaner_name
), false, true, LocalTempView, false, false, false
+- 'Aggregate ['loaner_name], ['loaner_name, count(1) AS loans#20927L]
   +- SubqueryAlias silver_temp_view
      +- View (`silver_temp_view`, [fields#8404,type#8405,_rescued_data#8406])
         +- SubqueryAlias spark_catalog.my_awesome_library.silver
            +- StreamingRelation DataSource(org.apache.spark.sql.SparkSession@1f40e920,delta,List(),None,List(),None,Map(path -> dbfs:/user/hive/warehouse/my_awesome_library.db/silver),Some(CatalogTable(
Catalog: spark_catalog
Database: my_awesome_library
Table: silver
Owner: root
Created Time: Sun Dec 03 00:12:07 UTC 2023
Last Access: UNKNOWN
Created By: Spark 3.3.0
Type: MANAGED
Provider: delta
Table Properties: [delta.lastCommitTimestamp=1701562326000, delta.lastUpdateVersion=0, delta.minReaderVersion=1, delta.minWriterVersion=2]
Location: dbfs:/user/hive/warehouse/my_awesome_library.db/silver
Serde Library: org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe
InputFormat: org.apache.hadoop.mapred.SequenceFileInputFormat
OutputFormat: org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat
Partition Provider: Catalog
Schema: root
 |-- fields: string (nullable = true)
 |-- type: string (nullable = true)
 |-- _rescued_data: string (nullable = true)
))), tahoe, [fields#8404, type#8405, _rescued_data#8406]

In [0]:
checkpoint_directory_gold = checkpoint_directory + 'gold/'
query = (spark.table('loans_per_member_temp_view')
         .writeStream.format('delta')
         .option('checkpointLocation', checkpoint_directory_gold)
         .outputMode('complete')
         .table('gold')
        )

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-3734199478696454> in <cell line: 2>()
      1 checkpoint_directory_gold = checkpoint_directory + 'gold/'
----> 2 query = (spark.table('loans_per_member_temp_view')
      3          .writeStream.format('delta')
      4          .option('checkpointLocation', checkpoint_directory_gold)
      5          .outputMode('complete')

/databricks/spark/python/pyspark/instrumentation_utils.py in wrapper(self)
     78         try:
     79             if logger is None:
---> 80                 return prop.fget(self)
     81
     82             start = time.perf_counter()

/databricks/spark/python/pyspark/sql/dataframe.py in writeStream(self)
    359         :class:`DataStreamWriter`
    360         """
--> 361         return DataStreamWriter(self)
    362
    363     @property

/databricks/spark/python/pyspark/sql/streaming/readwriter.py in __init__(self, df)
    590         self._df = df
    591         self._spark = df.sparkSession
--> 592         self._jwrite = df._jdf.writeStream()
    593
    594     def _sq(self, jsq: JavaObject) -> StreamingQuery:

/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1319
   1320         answer = self.gateway_client.send_command(command)
-> 1321         return_value = get_return_value(
   1322             answer, self.gateway_client, self.target_id, self.name)
   1323

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    200                 # Hide where the exception came from that shows a non-Pythonic
    201                 # JVM exception message.
--> 202                 raise converted from None
    203             else:
    204                 raise

AnalysisException: 'writeStream' can be called only on streaming Dataset/DataFrame

In [0]:
%sql
-- Temporary workaround of pulling static data:
CREATE OR REPLACE TEMP VIEW loans_per_member_temp_view AS (
  SELECT loaner_name, COUNT(*) as loans
  FROM my_awesome_library.loans
  GROUP BY loaner_name
);
-- End temporary workaround

SELECT * FROM loans_per_member_temp_view

loaner_name,loans
Robert John,1
Septima Fairfax,1
Ailey Thicknesse,1
Fen Galeway,2

Databricks visualization. Run in Databricks to view.